.profile-section {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  
  .info-section {
    text-align: center;
    padding: 16px;
    h2 {
      font-weight: bold;
    }
  }
  
  .tutor-summary-card {
    margin: 16px;
  }
  
  .about-tutor {
    padding: 16px;
    ion-img {
      display: block;
      margin: 0 auto;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      color: #555;
    }
  }
  